*{
    color: white;
}

header{
    position: fixed;
    box-shadow: 0px -1px 8px 2px #1c1717e8;
    top: 0;
    background-color:#05062A;
    width: 100%;
    border: 2px solid red;
}
header>img{
    width: 70px;
    position: relative;
}
.headerNav{
    position: absolute;
    top: 0;
    right: 10px;
}

header>nav>ul>li{
    display: inline-block;
}
