*{
    color: white;
}

header{
    z-index: 2;
    position: absolute;
    box-shadow: 8px 4px 22px 4px rgba(0, 0, 0, 0.3);
    top: 0;
    height: 89px;
    background-color:#05062A;
    width: 98.9vw;

}
#Icon{
    position: absolute;
    font-family: 'Petrona';
    margin: 0;
    left: 67px;
    top: 17px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
}
.headerNav{
    position: absolute;
    top: 16px;
    right: 20px;
}

header>nav>ul>li{
    display: inline-block;
    padding-left: 10px;
    font-size: 18px;
    padding-right: 2px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
}
header>nav>ul>li:hover a{
    color:#1ABC9C;
}
header>nav>ul>li>a{
    text-decoration: none;
}

#Home{
    z-index: 1;
    position: relative;
    width: 98.9vw;
    height: 100vh;
    background:url("../images/wishal aiya back 1.png");
    background-size:cover;
    background-position:center;
    margin-top: 30px;
}

#Home>div{
    position: absolute;
    top: 100px;
    left: 120px;
}
#Home p{
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
#Home h1{
    margin: 0;
    font-family:  'Roboto', sans-serif;
    font-size: 95px;
    font-style: normal;
    font-weight: 900;
}
#Home h4{
    margin: 0;
    font-family:  'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 18px;
}
#Home div>button:nth-child(7){
    font-family:  'Roboto', sans-serif;
    width: 130px;
    height: 50px;
    border: 3px solid white;
    border-radius: 30px;
    background: transparent;
}
#Home div>button:nth-child(7):hover{

    background: white;
    color: black;
    width: 132px;
    height: 52px;
    transition-duration: 0.2s;
    transition-property: all;

}
#Home div>button:nth-child(8){
    font-family:  'Roboto', sans-serif;
    border: 0;
    width: 130px;
    height: 50px;
    background: transparent;
}
#Home>div>a{
    margin-right: 15px;
}
#Home>div>a:hover i{
   color: #1ABC9C;
}



span,h2>span{
    color: #1ABC9C;
}
main>img{
    z-index: 2;
    position:absolute;
    width: 431px;
    height: 560px;
    left: 136px;
    top: 703px;
    border-radius: 30px;
    box-shadow: 8px 4px 22px 4px rgba(0, 0, 0, 0.25);
}
#AboutMe{
    z-index: 1;
    position: relative;

    width: 98.9vw;
    height: 80vh;
    background-color: #070D25;
}
#AboutMe section{
    position:relative;
    width: 53%;
    height: 100%;
    width: 680px;
    height: 435px;
    left: 646px;
    top: 46px;

}
#AboutMe section>div:nth-child(3){
    position: absolute;
    width: 48%;

}

#AboutMe section>div:nth-child(4){
    position: absolute;
    left: 400px;
    width: 48%;

}
#AboutMe section>div:nth-child(5){
    margin-top: 180px;
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 25%;

}
#AboutMe section>div:nth-child(6){
    margin-top: 180px;
    margin-left: 400px;
    position: absolute;
    display: inline-block;
    width: 45%;
    height:25%;

}
#AboutMe img{
    width: 15px;
    height: 15px;
}

h2{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}
#AboutMe h3{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
#AboutMe div>p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
#AboutMe div:nth-child(5)>pre,div:nth-child(6)>pre{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;

}

#AboutMe div>a{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7E7E7E;
    text-decoration: none;
}
#AboutMe div:nth-child(5)>pre>span,div:nth-child(6)>pre>span{
    color: #7E7E7E;
}
.description{
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.hireMe{
    font-family:'Inter', sans-serif;
    color: #7E7E7E;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}
#Services{
    z-index: 1;
    position: relative;
    width: 98.9vw;
    height: 100vh;
    background-color: #000A1D;
}
#Services section:first-child{
    top :100px;
    position: absolute;
    left: 136px;

}
#Services section:nth-child(2){
    top :290px;
    position: absolute;
    display: grid;
    left: 136px;
    grid-template-columns: repeat(3,1fr);
    gap: 110px;

}
#Services section>div:nth-child(1){
    position: relative;
    width: 336px;
    height: 284px;
    background-color: #070D25;
    box-shadow: 8px 4px 22px 4px rgba(0, 0, 0, 0.5);
}

#Services section>div:nth-child(1)>img{
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
#Services section>div:nth-child(2){
    position: relative;
    width: 336px;
    height: 284px;
    background-color: #070D25;
    box-shadow: 8px 4px 22px 4px rgba(0, 0, 0, 0.5);
}
#Services section>div:nth-child(2)>img{
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
#Services section>div:nth-child(3){
    position: relative;
    width: 336px;
    height: 284px;
    background-color: #070D25;
    box-shadow: 8px 4px 22px 4px rgba(0, 0, 0, 0.5);
}
#Services section>div:nth-child(3)>img{
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
#Services section>div:nth-child(1)>strong{
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    height: 27px;
    top: 165px;
}
#Services section>div:nth-child(2)>strong{
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: 140px;
    height: 27px;
    top: 165px;
}
#Services section>div:nth-child(3)>strong{
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: 194px;
    height: 27px;
    top: 165px;
}
.OrderNow{
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1ABC9C;
    width: 91px;
    height: 19px;
    top: 225px;
    text-decoration: none;
}
.OrderNow:hover{
   color:#F6C074;

}

#Education{
    z-index: 1;
    position: relative;
    width: 98.9vw;
    height: 100vh;
    background-color: #070D25;
}
#Education section:first-child{
    top: 50px;
    position: absolute;
    left: 136px;

}
#Education aside{
    position: absolute;
    display: flex;
    top: 205px;
    position: absolute;
    width: 440px;
    height: 475px;
    left: 137px;
    background-color: #000A1D;
    border-radius: 30px;
}
#Education aside>div:nth-child(1){
    margin-left: 50px;
    margin-right: 25px;
    width: 30px;
}
#Education aside>div:nth-child(1)>div:nth-child(1),aside>div:nth-child(1)>div:nth-child(3){
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #FFFFFF;
}
#Education aside>div:nth-child(1)>div:nth-child(3),aside>div:nth-child(1)>div:nth-child(5){
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #FFFFFF;
}
#Education aside>div:nth-child(1)>div:nth-child(2){
    left: 0;
    right: 0;
    margin: auto;
    width: 3px;
    height: 130px;
    background-color: #FFFFFF;
}
#Education aside>div:nth-child(1)>div:nth-child(4),aside>div:nth-child(1)>div:nth-child(6){
    left: 0;
    right: 0;
    margin: auto;
    width: 3px;
    height: 110px;
    background-color: #FFFFFF;
}

#Education aside>div:nth-child(2)>h3{
     font-family:'Inter', sans-serif;
     margin-bottom: 0;
     font-style: normal;
     font-weight: 700;
     font-size: 18px;
     line-height: 22px;
 }
#Education aside>div:nth-child(2)>h4{
    font-family:'Inter', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 72px;
    background-color: #1ABC9C;

    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
}
#Education aside>div:nth-child(2)>p{
    margin: 0;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

#Education aside>div:nth-child(2){
    width: 300px;
}
#Education #images{
    position: absolute;
    display: grid;
    left: 660px;
    width: 45vw;
    height: 75vh;
    top: 130px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
#Education #images>div:nth-child(1){
    background:url("../images/programmingimg.png");
    background-size:cover;
    background-position:center;
    width: 430px;
    height: 300px;
    border-radius: 20px 0px 0px 0px;
}
#Education #images>div:nth-child(2){

    grid-column:2/3;
    grid-row: 1/3;
    background:url("../images/img2.jpg");
    background-size:cover;
    background-position:center;
    border-radius: 0px 20px 20px 0px;

}#Education #images>div:nth-child(3){

     background:url("../images/img3.jpg");
     background-size:cover;
     background-position:center;
     border-radius: 0px 0px 0px 20px;
}
#Projects{
    z-index: 1;
    position: relative;
    width: 98.9vw;
    height: 100vh;
    background-color: #000A1D;
}
#Projects section:first-child{
    top: 50px;
    position: absolute;
    left: 136px;

}
#Projects section:nth-child(2){
    top: 210px;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 30px 30px 30px 30px;
    width: 78vw;
    height: 60vh;
    margin: auto;
    background-color: #070d25;
}

#Projects section:nth-child(2)>div:nth-child(1){
    position: absolute;
    width: 30%;
    height: 100%;
    display: grid;
}
#Projects section:nth-child(2)>div:nth-child(1)>div:nth-child(1){
    background:url("../images/hostelsystemimg1.png");
    background-size:cover;
    border-radius: 30px 0px 0px 0px;
    background-position:center;


}
#Projects section:nth-child(2)>div:nth-child(1)>div:nth-child(2){
    background:url("../images/hostelsystemimg2.png");
    background-size:cover;
    background-position:center;
    border-radius: 0px 0px 0px 30px;

}
#Projects section:nth-child(2)>div:nth-child(2){

    position: absolute;

    width: 63%;
    left: 405px;
    height: 100%;

}
#Projects section:nth-child(2)>div:nth-child(2)>h3{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
#Projects section:nth-child(2)>div:nth-child(2)>p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
#Projects section:nth-child(2)>div:nth-child(2)>img{
    width: 40.13px;
    height: 40px;

}
#Projects section:nth-child(2)>div:nth-child(2)>a{
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    top: 318px;
    left: 60px;
    color: #1ABC9C;

}

#Assignments{
    z-index: 1;
    position: relative;
    width: 98.9vw;
    height: 100vh;
    background-color: #070D25;
}
#Assignments section:first-child{
    top: 50px;
    position: absolute;
    left: 136px;

}
#Assignments section:nth-child(2){
    top :250px;
    position: absolute;
    display: grid;
    left: 136px;
    grid-template-columns: repeat(3,1fr);
    gap: 110px;

}
#Assignments section>div:nth-child(1){
    position: relative;
    width: 336px;
    height: 284px;
    background: #000A1D;
    border-bottom: 5px solid #1ABC9C;
    box-shadow: 8px 4px 22px 4px rgba(0, 0, 0, 0.5);

}
#Assignments section>div:nth-child(2){
    position: relative;
    width: 336px;
    height: 284px;
    background: #000A1D;
    border-bottom: 5px solid #1ABC9C;
    box-shadow: 8px 4px 22px 4px rgba(0, 0, 0, 0.5);
}#Assignments section>div:nth-child(3){
     position: relative;
     width: 336px;
     height: 284px;
     background: #000A1D;
     border-bottom: 5px solid #1ABC9C;
     box-shadow: 8px 4px 22px 4px rgba(0, 0, 0, 0.5);
 }
#Assignments section>div:nth-child(1)>strong{
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    height: 27px;
    top: 95px;
}
#Assignments section>div:nth-child(2)>strong{
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    height: 27px;
    top: 95px;
}#Assignments section>div:nth-child(3)>strong{
     left: 0;
     right: 0;
     margin: auto;
     position: absolute;
     font-family:'Inter', sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 20px;
     line-height: 24px;
     width: 150px;
     height: 27px;
     top: 95px;
 }
.View{
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1ABC9C;
    width: 49px;
    height: 19px;
    top: 150px;
    border:2px solid #1ABC9C;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}
#Skills{
    z-index: 1;
    position: relative;
    width: 98.9vw;
    height: 100vh;
    background-color: #000A1D;
}
#Skills section:first-child{
    top: 50px;
    position: absolute;
    left: 136px;

}
#Skills section:nth-child(2){
    top :240px;
    position: absolute;
    display: grid;
    left: 180px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(5,1fr);
    gap: 40px;

}
#Skills section>div{
    position: relative;
    width: 200px;
    height: 150px;
    background: #070D25;
    border-bottom: 5px solid #1ABC9C;
    box-shadow: 8px 4px 22px 4px rgba(0, 0, 0, 0.25);
}
#Skills section>div>img{
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
    position: absolute;

}
#Skills>section>div:nth-child(1)>img,#Skills>section>div:nth-child(2)>img,#Skills>section>div:nth-child(3)>img,#Skills>section>div:nth-child(7)>img,#Skills>section>div:nth-child(8)>img{
    width: 150px;
    height: 90px;
}

#Skills>section>div:nth-child(4)>img,#Skills>section>div:nth-child(6)>img{
    width: 70px;
    height: 70px;
}
#Skills section>div:nth-child(5)>img{
    width: 97px;
    height: 80px;
}

#Skills section>div:nth-child(6){
    grid-column: 2/3;
    grid-row: 2/3;

}

#Skills section>div:nth-child(7){
    grid-column: 3/4;
    grid-row: 2/3;

}
#Skills section>div:nth-child(8){
    grid-column: 4/5;
    grid-row: 2/3;
}
#Contact{
    z-index: 1;
    position: relative;
    width: 98.9vw;
    height: 115vh;
    background-color: #070D25;
}
#Contact section:first-child{
    top:50px;
    left: 0;
    right: 0;
    margin: auto;
   text-align: center;

    margin: auto;
    position: absolute;


}
#Contact section:last-child{
    top:200px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    margin: auto;
    position: absolute;


}
#Contact section:last-child>form{

    width: 60vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    left: 0;
    right: 0;
    margin: auto;
    gap: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #6F7273;


}
#Contact section:last-child>form>input{
    background-color: #000A1D;
    border: 1px solid #BDC3C7;
    height: 50px;



}
#Contact section:last-child>form>input:nth-child(3){
    grid-column: 1/3;
    grid-row: 2/3;




}
#Contact section:last-child>form>textarea{
    height: 200px;
    grid-column: 1/3;
    grid-row: 3/4;
    background: #000A1D;
    border: 1px solid #BDC3C7;


}
#Contact section:last-child>button{
    margin: 30px;
    border: 3px solid #FFFFFF;
    border-radius: 50px;
    background: transparent;
    width: 160px;
    height: 50px;

}
#findMeOn{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;

}
#Contact>section:last-child>div{
    margin: 30px;


}
#Contact>section:last-child>div>a{
    margin: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;


}
footer{
    position: relative;
    background-color: #000A1D;
    text-align: center;
}
footer>nav>ul{
    margin: 0;
    padding: 30px;
}
footer>nav>ul>li{
    padding-left: 25px;
    display: inline-block;
    padding-right: 2px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

}
footer>nav>ul>li>a{
   text-decoration: none;

}

footer>small{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
#footerIcon{
    top:25px;
    left: 250px;
    position: absolute;
    font-family: 'Petrona';
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
}