# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Internet-Technologies\MY-Portofoliyo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
